<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.saucedemo.mappers.UserOrderMapper">


    <resultMap id="userOrderResultMap" type="com.solvd.saucedemo.models.UserOrder">
        <id property="id" column="order_id"/>
        <result property="userId" column="user_id"/>
        <result property="orderDate" column="order_date"/>


        <collection property="products" ofType="com.solvd.saucedemo.models.Product">
            <result property="id" column="product_id"/>
            <result property="name" column="product_name"/>
            <result property="price" column="product_price"/>
        </collection>
    </resultMap>


    <select id="getUserOrderById" resultMap="userOrderResultMap">
        SELECT u.id AS order_id, u.user_id, u.order_date,
        p.id AS product_id, p.name AS product_name, p.price AS product_price
        FROM UserOrder u
        JOIN order_product op ON u.id = op.order_id
        JOIN Product p ON op.product_id = p.id
        WHERE u.id = #{id}
    </select>


    <select id="getAllUserOrders" resultMap="userOrderResultMap">
        SELECT u.id AS order_id, u.user_id, u.order_date,
        p.id AS product_id, p.name AS product_name, p.price AS product_price
        FROM UserOrder u
        JOIN order_product op ON u.id = op.order_id
        JOIN Product p ON op.product_id = p.id
    </select>

</mapper>
